header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 52.64px;
    margin-top: 32px;
    position: relative;
    z-index: 1;
}

.nav-img {
    display: flex;
    align-items: center;
}

.nav-img nav{
    margin-left: 69.4px
}

.nav-img nav ul {
    display: flex;
    list-style-type: none;
    width: 386.9px;
    display: flex;
    justify-content: space-between;
}

.nav-img nav a {
    text-decoration: none;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 600;
    line-height: 16.34px;
    color: white;    
}

.nav-img nav a:hover {
    color: #FF6C00;
}

header address {
    display: flex;
    align-items: center;
    margin-right: 71px;
}

header address *:last-child {
    width: 160px;
    height: 40px;
    border-radius: 20px;
    box-sizing: border-box;
    border: 1px solid #FF6C00;
    display: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 50px;
}

header address *:first-child {
    color: white;
    font-style: normal;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 600;
    line-height: 16.34px;
}

.first-container {
    height: 680px;
    display: flex;
}

aside {
    width: 148.34px;
    height: 100%;
    position: relative;
}

.first-container > div {
    flex-grow: 1;
}

.main-section {
    width: 95%;
    background-image: url("../img/Slider img 3.jpg");
    background-size: cover;
    height: 680px;
    position: relative;
}

.transform-content {
    position: absolute;
    bottom: 0px;
    left: 100%;
    height: 148.34px;
    width: 680px;
    transform-origin: left bottom;
    transform: rotate(-90deg);
    box-sizing: border-box;
}

.line {
    width: 60px;
    height: 1px;
    background-color: #303030;
    margin: 84.77px 39.98px 0px 40px;
}

.transform-content > * {
    display: inline-block;
}

.transform-content a {
    margin-right: 39.96px;
    text-decoration: none;
    cursor: pointer;
    font-family: "Open Sans" sans-serif;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 2px;
    color: #303030;
}

.transform-content a:hover {
    color: #FF6C00;
} 

.content-header {
    position: absolute;
    top: 272px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.line-and-text {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.line-2 {
    width: 63px;
    height: 1px;
    margin-right: 21px;
    background-color: #9DA4BD99;
}

.line-and-text .text {
    font-size: 11px;
    font-weight: 600;
    font-family: 'Open Sans';
    color: #9DA4BD99;
    text-transform: uppercase;
    line-height: 15px;
}

.main-section h1 {
    color: white;
    font-size: 72px;
    line-height: 84.53px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: Raleway;
}

.main-text {
    margin-left: 96px;
}

.main-text p {
    width: 400px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #9DA4BD;
}
.back-forward {
    position: absolute;
    bottom: 34px;
    right: 107px;
    display: flex;
}

.back .forward{
    font-family: 'Open Sans';
    font-size: 11px;
    font-weight: 600;
    line-height: 15px;
    cursor: pointer;
}

.back {
    color: #9DA4BD99;
    margin-right: 25px;
    text-align: right;
}

.forward {
    color: #FFFFFF;
}

.back div:last-child {
    background-color: #9DA4BD99;
    width: 57px;
    height: 1px;
    margin-top: 15px;
}

.forward div:last-child{
    background-color: white;
    width: 57px;
    height: 1px;
    margin-top: 15px;
}

.content-header .images {
    position: absolute;
    top: 53px;
    right: 52px;
}

.content-header .images *{
    width: 7.63px;
    height: 2px;
    background-color: #9DA4BD;
    margin-bottom: 12px;
    margin-left: auto;
}

.content-header .images *:first-child {
    width: 17.16px;
    height: 2px;
    background-color: white;
}

.section-2 {
    box-sizing: border-box;
}

.section-2 .container {
    display: flex;
    margin: 139px 91px 121px 55px;
}

.images-2 {
    display: flex;
    margin-right: 64px;
}

.images-2 div {
    width: 270px;
    height: 445px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.images-2 div:nth-child(1) {
    background-image: url("../img/img 1.jpg");
    margin-right: 30px;
}

.images-2 div:nth-child(2) {
    background-image: url("../img/img 2.jpg");
}

.about-us {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.about-us .line-2 {
    width: 60px;
    height: 1px;
    margin-right: 20px;
    background-color: #303030;
}

.about-us .text {
    font: 600 11px/15px 'Open Sans';
}

.content-2 h2 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 49.31px;
    margin-bottom: 20px;
}

.content-2 .short-text {
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 30px;
    color: #555555;
}

.content-2 .about-team {
    font: 400 14px/26px 'Open Sans';
    margin-bottom: 40px;
    color: #555555;
}

.content-2 a {
    width: 160px;
    height: 40px;
    display: flex;
    border: 1px solid #FF6C00;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font: 600 12px/16.34px 'Open Sans';
}


