header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 52.64px;
    margin-top: 32px;
    position: relative;
    z-index: 1;
}

.nav-img {
    display: flex;
    align-items: center;
}

.nav-img nav{
    margin-left: 69.4px
}

.nav-img nav ul {
    display: flex;
    list-style-type: none;
    width: 386.9px;
    display: flex;
    justify-content: space-between;
}

.nav-img nav a {
    text-decoration: none;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 600;
    line-height: 16.34px;
    color: white;    
}

.nav-img nav a:hover {
    color: #FF6C00;
}

header address {
    display: flex;
    align-items: center;
    margin-right: 71px;
}

header address *:last-child {
    width: 160px;
    height: 40px;
    border-radius: 20px;
    box-sizing: border-box;
    border: 1px solid #FF6C00;
    display: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 50px;
}

header address *:first-child {
    color: white;
    font-style: normal;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 600;
    line-height: 16.34px;
}

.first-container {
    height: 680px;
    display: flex;
}

aside {
    width: 148.34px;
    height: 100%;
    position: relative;
}

.first-container > div {
    flex-grow: 1;
}

.main-section {
    width: 95%;
    background-image: url("../img/Slider img 3.jpg");
    background-size: cover;
    height: 680px;
    position: relative;
}

.transform-content {
    position: absolute;
    bottom: 0px;
    left: 100%;
    height: 148.34px;
    width: 680px;
    transform-origin: left bottom;
    transform: rotate(-90deg);
    box-sizing: border-box;
}

.line {
    width: 60px;
    height: 1px;
    background-color: #303030;
    margin: 84.77px 39.98px 0px 40px;
}

.transform-content > * {
    display: inline-block;
}

.transform-content a {
    margin-right: 39.96px;
    text-decoration: none;
    cursor: pointer;
    font-family: "Open Sans" sans-serif;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 2px;
    color: #303030;
}

.transform-content a:hover {
    color: #FF6C00;
} 

.content-header {
    position: absolute;
    top: 272px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.line-and-text {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.line-2 {
    width: 63px;
    height: 1px;
    margin-right: 21px;
    background-color: #9DA4BD99;
}

.line-and-text .text {
    font-size: 11px;
    font-weight: 600;
    font-family: 'Open Sans';
    color: #9DA4BD99;
    text-transform: uppercase;
    line-height: 15px;
}

.main-section h1 {
    color: white;
    font-size: 72px;
    line-height: 84.53px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: Raleway;
}

.main-text {
    margin-left: 96px;
}

.main-text p {
    width: 400px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #9DA4BD;
}
.back-forward {
    position: absolute;
    bottom: 34px;
    right: 107px;
    display: flex;
}

.back .forward{
    font-family: 'Open Sans';
    font-size: 11px;
    font-weight: 600;
    line-height: 15px;
    cursor: pointer;
}

.back {
    color: #9DA4BD99;
    margin-right: 25px;
    text-align: right;
}

.forward {
    color: #FFFFFF;
}

.back div:last-child {
    background-color: #9DA4BD99;
    width: 57px;
    height: 1px;
    margin-top: 15px;
}

.forward div:last-child{
    background-color: white;
    width: 57px;
    height: 1px;
    margin-top: 15px;
}

.content-header .images {
    position: absolute;
    top: 53px;
    right: 52px;
}

.content-header .images *{
    width: 7.63px;
    height: 2px;
    background-color: #9DA4BD;
    margin-bottom: 12px;
    margin-left: auto;
}

.content-header .images *:first-child {
    width: 17.16px;
    height: 2px;
    background-color: white;
}

.section-2 {
    box-sizing: border-box;
}

.section-2 .container {
    display: flex;
    margin: 139px 91px 121px 55px;
}

.images-2 {
    display: flex;
    margin-right: 64px;
}

.images-2 div {
    width: 270px;
    height: 445px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.images-2 div:nth-child(1) {
    background-image: url("../img/img 1.jpg");
    margin-right: 30px;
}

.images-2 div:nth-child(2) {
    background-image: url("../img/img 2.jpg");
}

.about-us {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.about-us .line-2 {
    width: 60px;
    height: 1px;
    margin-right: 20px;
    background-color: #303030;
}

.about-us .text {
    font: 600 11px/15px 'Open Sans';
}

.content-2 h2 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 49.31px;
    margin-bottom: 20px;
}

.content-2 .short-text {
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 30px;
    color: #555555;
}

.content-2 .about-team {
    font: 400 14px/26px 'Open Sans';
    margin-bottom: 40px;
    color: #555555;
}

.content-2 a {
    width: 160px;
    height: 40px;
    display: flex;
    border: 1px solid #FF6C00;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font: 600 12px/16.34px 'Open Sans';
}

.section-3 {
    background-image: url("../img/img.png");
    background-color: #111319;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    border: 1px solid black;
}

.section-3 .container {
    margin: 130px auto;
    width: 1170px;
}

.masters {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.masters .line-3 {
    width: 60px;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.6);
    margin-right: 20px;
}

.masters .text {
    font: 600 11px/15px 'Open Sans';
    color: rgba(157, 164, 189, 0.6);
    text-transform: uppercase;
    
}

.section-3 h2 {
    margin-bottom: 44px;
    color: white;
    font: 700 42px/49.31px 'Raleway';
}

.prices {
    width: 100%;
    display: flex;
    height: 240px;
    margin-bottom: 50px;
}

.block-prices {
    flex-grow: 1;
    box-sizing: border-box;
    padding: 30px 40px;
}

.block-prices:nth-child(1) {
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.block-prices:nth-child(2) {
    background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.list-prices {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price-item {
    display: flex;
    font: 400 18px/30px 'Open Sans';
    color: #9DA4BD;
    align-items: flex-end;
}

.price-item div:nth-child(2) {
    height: 1px;
    flex-grow: 1;
    background-color: rgba(157, 164, 189, 0.12);
    margin: 6px;
}

.section-3 a {
    display: flex;
    margin: 0 auto;
    width: 160px;
    height: 40px;
    border: 1px solid #FF6C00;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border-radius: 20px;
    font: 600 12px/16.34px 'Open Sans';
}

.section-4 {
    display: flex;
}

.count-info {
    margin: 121px 130px 130px 155px;
    display: flex;
}

.count {
    width: 170px;
    height: 133px;
    background-color: #F7F7F7;
    box-sizing: border-box;
    border: 1px solid #F7F7F7;
}

.count:first-child {
    margin-bottom: 30px;
}

.left-block {
    margin-right: 30px;
}

.right-block {
    margin-top: 35px;
}

.count div:first-child {
    font: 700 42px/57.2px 'Open Sans';
    text-align: center;
    margin-top: 20px;
    margin-bottom: 6px;
}

.count div:first-child::after {
    content:'+';
    font: 600 16px/21.79px 'Open Sans';
    color: #FF6C00;
    display: inline-block;
    vertical-align: top;
    margin-left: 2px;
    margin-top: 5px;
}

.count div:last-child {
    font: 600 11px/15px 'Open Sans';
    text-align: center;
    margin: 0 auto;
    width: 130px;
}

.advantages {
    margin-top: 130px;
}

.old-school {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.old-school .line-4 {
    width: 60px;
    height: 1px;
    background-color: #303030;
    margin-right: 20px;
}

.old-school .text {
    font: 600 11px/15px 'Open Sans';
    text-transform: uppercase;
}

.advantages h2 {
    margin-bottom: 20px;
    font: 700 42px/49.31px 'Raleway';
    width: 412px;
}

.advantages p {
    font: 400 18px/30px 'Open Sans';
    width: 500px;
    color: #555555;
}

.section-5 {
    background-color: #F7F7F7;
    box-sizing: border-box;
    border: 1px solid #F7F7F7;
}

.atmosphere {
    display: flex;
    align-items: center;
    margin: 130px 55px 20px;
}
.atmosphere .line-5 {
    width: 60px;
    height: 1px;
    background-color: #303030;
    margin-right: 20px;
}

.atmosphere .text {
    font: 600 11px/15px 'Open Sans';
    color: #303030;
    text-transform: uppercase;
}

.section-5 h2 {
    margin: 0 55px 44px;
    font: 700 42px/49.31px 'Raleway';
}

.barbers {
    display: flex;
    margin: 0 55px 130px;
    justify-content: space-between;
}

.about-barber {
    width: 370px;
}

.barber-image img {
    width: 370px;
}

.barber-image figcaption {
    margin: 30px auto;
    text-align: center;
}

.barber-name {
    margin-bottom: 8px;
    font: 400 18px/24.5px 'Open Sans';
    color: #303030;
}

.barber-position {
    color: #FF6C00;
    font: 400 14px/19px 'Open Sans';
}

.social-networks {
    display: flex;
    justify-content: space-between;
    width: 206px;
    margin: 0 auto;
}

.about-barber .social-networks div {
    width: 44px;
    height: 44px;
    cursor: pointer;
    border-radius: 22px;
    background-color: white;
}

.section-6 {
    box-sizing: border-box;
    border: 1px solid white;
}

.section-6 .container {
    margin: 130px 55px;
}

.section-6 .language {
    display: flex;
    align-items: center;
    margin-bottom: 44px;
}

.section-6 .language .line-6 {
    width: 60px;
    height: 1px;
    margin-right: 20px;
    background-color: #303030;
}

.section-6 .language .text {
    text-transform: uppercase;
    color: #303030;
    font: 600 11px/15px 'Open Sans';
}

.images-3 {
    display: flex;
    justify-content: space-between;
}

.images-3 div {
    width: 270px;
    height: 360px;
    background-size: cover;
    background-position: center;
}

.images-3 div:nth-child(1) {
    background-image: url("../img/Rectangle 25.jpg");
}

.images-3 div:nth-child(2) {
    background-image: url("../img/Rectangle 26.jpg");
}

.images-3 div:nth-child(3) {
    background-image: url("../img/Rectangle 27.jpg");
}

.images-3 div:nth-child(4) {
    background-image: url("../img/Rectangle 28.jpg");
}

.section-7 {
    display: flex;
}

.section-7 > * {
    flex-grow: 1;
}

.online-registration {
    box-sizing: border-box;
    background-color: #191C26;
    border: 1px solid #191C26;
}

.online-registration h3 {
    margin: 130px 56px 44px;
    color: white;
    font: 700 42px/49.31px 'Raleway';
    box-sizing: border-box;
}

form {
    margin: 0 55px 193px;
}

.name-number {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}

.name-number * {
    background-color: transparent;
    margin: 0;
    padding: 0 0 8px 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #9DA4BD66;
    cursor: pointer;
    text-transform: uppercase;
}

.name-number *::placeholder {
    font: 600 11px/15px 'Open Sans';
}

.name-number *:focus {
    outline: none;
}

.name-number *:hover {
    border-bottom: 1px solid #FFFFFF;
}

.name-number *:hover::placeholder {
    color: #FFFFFF;
    text-transform: uppercase;
    font: 600 11px/15px 'Open Sans';
}

input[placeholder='Имя*'] {
    width: 270px;
}

input[placeholder='Телефон*'] {
    width: 260px;
}

label {
    font: 600 11px/15px 'Open Sans';
    color: #9DA4BD66;
    text-transform: uppercase;
    cursor: pointer;
}

#message {
    height: 60px;
    background-color: transparent;
    display: block;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #9DA4BD66;
    width: 100%;
    resize: none;
    margin-bottom: 44px;
    cursor: pointer;
}

label:hover {
    color: white;
}

#message:hover {
    border-bottom: 1px solid white;
}

form button {
    border: 1px solid #FF6C00;
    border-radius: 20px;
    width: 160px;
    height: 40px;
    background-color: transparent;
    font: 600 12px/16.34px 'Open Sans';
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.address-info {
    background-color: #191C26;
    background-image: url("../img/Bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.address-info h3 {
    margin: 130px 100px 40px;
    color: white;
    font: 700 42px/49.31px 'Raleway';
}

.a-t-e {
    margin: 0 100px 70px;
    width: 230px;
    font: normal 400 18px/30px 'Open Sans';
    color: #9DA4BD;
}

.a-t-e > *:not(:last-child) {
    margin-bottom: 20px;
}

.a-t-e > * {
    display: flex;
}

.a-t-e > *:last-child {
    text-decoration: underline;
}

